.about-sec {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  max-width: 960px;
  color: grey;
}

.text {
  max-width: 480px;
  line-height: 2;
}

#about-img {
  border-radius: 15px;
  width: 480px;
}

.about-title {
  font-size: 32px;
  color: black;
}
