.skills-sec {
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    color: grey;
}

.skill-box {
    max-width: 300px;
    padding: 10px;
}

.skill-title {
    color: black;
    font-size: 24px;
}